[submodule "wezterm-config"]
	path = modules/wezterm/.config/wezterm
	url = https://github.com/Issafalcon/wezterm-config
[submodule "nvim-config"]
	path = modules/nvim/.config/nvim
	url = https://github.com/Issafalcon/nvim-config
[submodule "anthropic-skills"]
	path = modules/ai/anthropic-skills
	url = https://github.com/anthropics/skills.git
