[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/Issafalcon/nvim-config.git
[submodule "wezterm-config"]
	path = wezterm/.config/wezterm
	url = https://github.com/Issafalcon/wezterm-config
